<!--The content below is only a placeholder and can be replaced.-->
<div class="center-screen" style="text-align:center">
  <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img width="300" alt="Freelancer Logo" src="assets/images/Freelancer.png" style="width: 100px; margin: 20px 20px 20px 20px;">
        </div>
    
        <!-- Login Form -->
        <form>
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
          <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
          <input type="button" class="fadeIn fourth" value="Log In">
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Esqueceu sua senha?</a>
        </div>
    
      </div>
    </div>
</div>